@font-face{
    src: url(../../../font-face/Inter-Regular.woff) format('woff'),
         url(../../../font-face/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: normal;
}


.footer__link{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #FFFFFF;
text-decoration: none;
}

@media (max-width: 767px){
    .footer__link{
        text-align: start;
    }
}
