.footer__links{
    display: flex;
    flex-direction: row;
    gap:18px;
}

@media (max-width: 767px){
    .footer__links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 32px;
    }
}