.cover{
    max-width: 1184px;
    position: relative;
    min-height: 740px;
    background-image: url(../../images/__background\ \(1\).png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px; 
    margin: 0 auto 92px;
    text-decoration: none;
}

.cover::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.cover:hover::before{
  opacity: 0.8;
}

@media (max-width: 1279px){
  .cover{
    width: 100vw;
    min-height: 62.5vw;
  }
}