.header__logo{
    width:176px;
    height: 52px;
    background-image: url(../../../images/logo.svg);
}

@media (max-width: 767px){
    .header__logo{
        width: 142px;
        height: 42px;
        background-size: cover;
    }
}