.lead__caption{
font-size: 10px;
line-height: 14px;
letter-spacing: 0.15em;
text-transform: uppercase;
margin: 8px 0 92px;
}

@media (max-width: 1023px){
    .lead__caption{
        margin: 8px 24px 88px;
    }
}

@media (max-width: 767px){
    .lead__caption{
        margin: 8px 16px 64px;
    }
}
